.layout-basic {
  .layout-basic-header {
    padding: 0 50px;
    border-bottom: 1px solid #f0f0f0;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    .nav {
      float: right;
      border-bottom: none;
    }
  }
  .layout-basic-content {
    padding: 20px;
  }
}
